@using WebMatrix.Data;
@RenderPage("~/Components/LoggedIn.cshtml");
@{
    // Add validation
    Validation.RequireField("name", "Username is required.");
    Validation.RequireField("date", "Date is required");
    Validation.RequireField("time", "Time is required");
    Validation.RequireField("location", "location is required");

    Auth auth = new Auth();
    Events events = new Events(0, Session["Username"].ToString());

    if (IsPost && Validation.IsValid())
    {
        // Retrive post data
        string name = Request.Form["name"];
        string dateTime = Request.Form["date"] + " " + Request.Form["time"];
        string description = Request.Form["description"];
        string location = Request.Form["location"];

        if (events.CreateEvent(name, dateTime, description, location) > 0)
        {
            Response.Redirect("~/events.cshtml");
        }
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("~/Components/head.cshtml")
</head>
<body>
    @RenderPage("~/Components/navbar.cshtml")
    <div class="container d-flex h-100 justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-md-12" action="" method="post">
                @if (IsPost && !Validation.IsValid())
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary("Errors:", false)
                    </div>
                }
                <h1>Create Event.</h1>

                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Enter your event name." required />
                </div>
                <div class="form-group">
                    <input class="form-control col" type="date" name="date" placeholder="Enter the date of the event." required />
                </div>
                <div class="form-group">
                    <input class="form-control col" type="time" name="time" placeholder="Enter the time of the event." required />
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="description" placeholder="Enter a description of your event."></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" placeholder="Enter the location of your event" required />
                </div>
                <input class="btn btn-primary btn-block" type="submit" name="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>