body {
    padding-top: 65px;
}

a:hover {
    text-decoration: none;
}

.no-padding {
    padding: 0px;
}

.profile-picture {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/* The element to apply the animation to */
@media (min-width: 1000px) {

    .title-fadein {
        opacity: initial;
        animation-name: fade;
        animation-duration: 2s;
    }

    .muted-fadein {
        opacity: initial;
        animation-name: fade;
        animation-duration: 2s;
    }

    .links-fadein {
        opacity: initial;
        animation-name: fade;
        animation-duration: 2s;
    }
}
/* The animation code */
@keyframes fade {
    from {
        margin-left: 100px;
        opacity: 0;
    }

    to {
        margin-left: 0px;
        opacity: initial;
    }
}

.validation-summary-errors > ul {
    list-style-type: none;
}