@{

}
<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("~/Components/head.cshtml")
</head>
<body class="h-100">
    @RenderPage("~/Components/navbar.cshtml")

    <div class="container d-flex h-100 justify-content-center">
        <div class="row justify-content-center align-items-center w-100">
            <form class="col-lg-4" action="/" method="post">
                <div class="row justify-content-center form-group">
                    <div class="image-cropper">
                        <img class="profile-picture" src="~/Img/Mountains.jpg" alt="Your profile picture" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose new profile picture</label>
                    </div>
                </div>
                <div class="row">
                    <input class="btn btn-primary btn-block" type="submit" name="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>