<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @RenderPage("~/Components/head.cshtml")
    </head>
    <body class="h-100">
        @RenderPage("~/Components/navbar.cshtml")

        <div class="container d-flex h-100">
            <div class="justify-content-center align-self-center text-center w-100">
                <div class="row justify-content-center">
                    <h1 class="display-4 title-fadein">a Special Day.</h1>
                </div>
                <div class="row justify-content-center">
                    <h5 class="text-muted muted-fadein">Create wishlists for your family and friends for every event or holiday.</h5>
                </div>
                <div class="row justify-content-center">
                    <h6 class="text-muted links-fadein"><a href="~/login.cshtml">Login</a>. <a href="~/Register.cshtml">Register</a>.</h6>
                </div>
            </div>
        </div>
    </body>
</html>