@using WebMatrix.Data;
@{
    Validation.RequireField("username", "Username is required.");
    Validation.RequireField("name", "Name is required.");
    Validation.RequireField("passwordFirst", "First password input is required.");
    Validation.Add("passwordSecond", Validator.EqualsTo("passwordFirst", "Passwords do not match"));

    string username = Request.Form["username"];
    string name = Request.Form["name"];
    string passwordFirst = Request.Form["passwordFirst"];
    string passwordSecond = Request.Form["passwordSecond"];

    if (IsPost && Validation.IsValid())
    {
        var db = Database.Open("aSpecialDay");
        var insertQuery = "INSERT INTO Login (Username, Password) " +
                    "VALUES (@0, @1)";
        //var insert = db.Execute(insertQuery, username, encrypted);

    }

}
<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Register - WebDevelopment</title>
</head>
<body class="h-100">
    @RenderPage("~/Components/navbar.cshtml")
    <div class="container d-flex h-100 justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-md-12" action="" method="post">
                @if (IsPost)
                {
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.ValidationSummary()
                    </div>
                }
                <h1 class="display-12">Sign up.</h1>

                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Enter your Username" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" id="InputName" placeholder="Enter your name" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="passwordFirst" id="InputPasswordFirst" placeholder="Your new password" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="passwordSecond" id="InputPasswordSecond" placeholder="Repeat password" required />
                </div>
                <input class="btn btn-primary btn-block" type="submit" name="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>