@using WebMatrix.Data;
@{
    Validation.RequireField("username", "Username is required.");
    Validation.RequireField("name", "Name is required.");
    Validation.RequireField("passwordFirst", "First password input is required.");
    Validation.Add("passwordSecond", Validator.EqualsTo("passwordFirst", "Passwords do not match"));

    string username = Request.Form["username"];
    string name = Request.Form["name"];
    string passwordFirst = Request.Form["passwordFirst"];
    string passwordSecond = Request.Form["passwordSecond"];

    if (IsPost && Validation.IsValid())
    {
        var db = Database.Open("aSpecialDay");
        var encrypted = SHAEncrypt.GenerateSHA512String(passwordFirst);
        var insertQuery = "INSERT INTO Login (Username, Password) " +
                    "VALUES (@0, @1)";
        var selectQuery = db.QueryValue("SELECT Username FROM Login WHERE Username  = @0", username);

        if (selectQuery != null)
        {
            Validation.Add("username", Validator.EqualsTo(selectQuery, "Username already exists."));
        }
        else
        {
            db.Execute(insertQuery, username, encrypted);
            Response.Redirect("~/index.cshtml");
        }
    }

    if (Session["LoggedIn"] != null && (bool)Session["LoggedIn"])
    {
        Response.Redirect("~/index.cshtml");
    }

}
<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("~/Components/head.cshtml")
</head>
<body class="h-100">
    @RenderPage("~/Components/navbar.cshtml")
    <div class="container d-flex h-100 justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-md-12" action="" method="post">
                @if (IsPost && !Validation.IsValid())
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary("Errors:", false)
            </div>
}
                <h1 class="display-12">Sign up.</h1>

                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Enter your Username" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" id="InputName" placeholder="Enter your name" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="passwordFirst" id="InputPasswordFirst" placeholder="Your new password" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="passwordSecond" id="InputPasswordSecond" placeholder="Repeat password" required />
                </div>
                <input class="btn btn-primary btn-block" type="submit" name="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>