@{
    // Use validations so that the user can't insert empty fields
    Validation.RequireField("username", "Username is required.");
    Validation.RequireField("passwordFirst", "First password input is required.");
    Validation.Add("passwordSecond", Validator.EqualsTo("passwordFirst", "Passwords do not match"));

    string username = Request.Form["username"];
    string passwordFirst = Request.Form["passwordFirst"];
    string passwordSecond = Request.Form["passwordSecond"];

    if (IsPost && Validation.IsValid())
    {
        // Hash password and insert data
        Auth auth = new Auth();
        if (auth.Register(username, passwordFirst) == 0)
        {
            Validation.Add("Username already exists.");
        }
        else
        {
            Response.Redirect("~/login.cshtml");
        }
    }

}
<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("~/Components/head.cshtml")
</head>
<body class="h-100">
    @RenderPage("~/Components/navbar.cshtml")
    <div class="container d-flex h-100 justify-content-center">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-md-12" action="" method="post">
                @if (IsPost && !Validation.IsValid())
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary("Errors:", false)
            </div>
}
                <h1 class="display-12">Sign up.</h1>

                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Enter your Username" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="passwordFirst" id="InputPasswordFirst" placeholder="Your new password" required />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="passwordSecond" id="InputPasswordSecond" placeholder="Repeat password" required />
                </div>
                <input class="btn btn-primary btn-block" type="submit" name="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>